<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#
	foreach(var item in _items)
	{
		if(!String.IsNullOrWhiteSpace(item.Summary))
		{
#>
/// <summary>
/// <#=item.Summary#>
/// </summary>
<#			
		}
#>
public string <#=item.Name#>  { get; set; }

<#
	}
#>